---
layout: carousel
name: Home
link: /
hash: "top"
---

<div id="top" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <div class="carousel-inner">
    <div class="item active">
      <div class="header-background"></div>
      <div class="container">
        <div class="carousel-caption">
          <img src="/assets/img/logo.png" class="splash-logo img-responsive hidden-xs">
          <div id="home" class="lead-div">
            <p class="lead col-md-6">Whether you want to learn how to code, hack on a project, or get inspired, we have something for you. HackWeekend is a two day workshop and competition for students to learn from the best in tech and build awesome projects.</p>
            <div class="deets lead col-md-6">
              <div class="deet"><div class="glyphicon glyphicon-calendar"></div> May 31 - June 1, 2014</div>
              <div class="deet"><div class="glyphicon glyphicon-map-marker"></div> Computer History Museum, Mountain View</div>
              <div class="deet"><div class="glyphicon glyphicon-info-sign"></div> Talks, Demos, and Prizes</div>
              <div class="deet"><div class="glyphicon glyphicon-user"></div> All High School and College Students Welcome</div>
            </div>
          </div>
          <div class="row">
            <a class="btn btn-lg btn-danger btn-register" href="http://hackweekend2014.eventbrite.com" role="button">Register Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.carousel -->


<div class="white">

  <div id="sponsors" class="relative-container gray">
    <div class="container">
      <h2 class="pull-left">Sponsored by <i class="fa fa-rocket"></i></h2>
    </div>
  </div>

  <div id="schedule" class="relative-container white">
    <div class="container">
      <h2>Schedule <div class="fa fa-clock-o"></div></h2>
      <div class="row">
	      <div class="col-sm-6 text-left">
          <h3 class="text-center">Saturday, May 31</h3>
          <h4 class="text-muted text-left">Workshops and Talks</h4>
          <div class="row">
            {% for event in site.data.schedule.saturday %}
            <p><strong>{{ event.time }}</strong> <span>{{ event.title }}</span></p>
            {% endfor %}
          </div>
	      </div>
	      <div class="col-sm-6 text-left">
          <h3 class="text-center">Sunday, June 1</h3>
          <h4 class="text-muted text-center">Hackathon <i class="fa fa-trophy"></i></h4>
          <div class="row">
            {% for event in site.data.schedule.sunday %}
            <p><strong>{{ event.time }}</strong> <span>{{ event.title }}</span></p>
            {% endfor %}
          </div>
	      </div>
      </div>
    </div>
  </div>

  <div id="faq" class="relative-container gray">
    <div class="container">
      <h2>FAQ <i class="fa fa-question-circle"></i></h2>
      <div class="col-sm-6">
	<div class="row">
	  {% for pair in site.data.faq %}
	  <p>
	    <strong>Q:</strong> {{ pair.question }}<br />
	    <strong>A:</strong> {{ pair.answer }}
	  </p>
	  {% endfor %}
	</div>
      </div>
    </div>
  </div>

  <div id="about" class="relative-container white">
    <div class="container">
      <h2>About <i class="fa fa-info-circle"></i></h2>
    </div>
  </div>

  <div id="contact" class="relative-container gray">
    <div class="container">
      <h2>Contact <i class="fa fa-phone"></i></h2>
      {% for person in site.data.contact %}
      <div class="col-sm-3 text-center">
	       <h3>{{ person.name }}</h3>
	       <p>
            <a href="mailto:{{ person.email }}"><i class="fa fa-envelope"></i></a>
            ·
            <a href="http://{{ person.provider }}/{{ person.site }}">@{{ person.site }}</a>
          </p>
	       <img class="{{ person.photo-class }} img-circle" src="{{ person.photo }}" />
         <p>{{ person.role }}</p>
      </div>
      {% endfor %}
    </div>
  </div>

</div> <!-- / .white -->
