---
layout: carousel
name: Home
permalink: /
---

<div class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <div class="carousel-inner">
    <div id="top" class="item active">
      <div class="header-background"></div>
      <div class="container">
        <div class="carousel-caption">
          <img src="/assets/img/logo_no_year.png" class="splash-logo img-responsive hidden-xs">
          <div class="lead-div">
            <p class="lead col-md-6">Whether you want to learn how to code, hack on a project, or get inspired, we have something for you. HackWeekend is a two day workshop and competition for students to learn from the best in tech and build awesome projects.</p>
            <div class="deets lead col-md-6">
              <div class="deet"><div class="glyphicon glyphicon-calendar"></div> May 31 - June 1, 2014</div>
              <div class="deet"><div class="glyphicon glyphicon-map-marker"></div> Computer History Museum, Mountain View</div>
              <div class="deet"><div class="glyphicon glyphicon-info-sign"></div> Talks, Demos, and Prizes</div>
              <div class="deet"><div class="glyphicon glyphicon-user"></div> All High School and College Students Welcome</div>
            </div>
          </div>
          <div class="row">
            <a class="btn btn-lg btn-danger" href="http://hackweekend2014.eventbrite.com" role="button">Register Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.carousel -->


<div class="white">

  <div id="sponsors" class="relative-container gray">
    <div class="container">
      <h2 class="pull-left">Sponsored by <i class="fa fa-rocket"></i></h2>
    </div>
  </div>

  <div id="schedule" class="relative-container white">
    <div class="container">
      <h2>Schedule <div class="fa fa-clock-o"></div></h2>
      <div class="row">
	<div class="col-sm-6 text-center">
          <h3>Saturday, May 31</h3>
          <h4 class="text-muted">Workshops and Talks</h4>
          <div class="row">
            <p><strong>4:00pm</strong> <span>Kickoff!</span></p>
            <p><strong>4:30pm</strong> <span>(title) - <strong>(company/speaker)</strong></span></p>
            <p><strong>5:15pm</strong> <span>(title) - <strong>(company/speaker)</strong></span></p>
            <p><strong>5:30pm</strong> <span>(title) - <strong>(company/speaker)</strong></span></p>
            <p><strong>6:00pm</strong> <span>(title) - <strong>(company/speaker)</strong></span></p>
            <p><strong>7:00pm</strong> <span>Dinner! Catered by <strong>()</strong></span></p>
            <p><strong>7:45pm</strong> <span>(title) - <strong>(company/speaker)</strong></span></p>
            <p><strong>8:30pm</strong> <span>(title) - <strong>(company/speaker)</strong></span></p>
            <p><strong>9:15pm</strong> <span>(title) - <strong>(company/speaker)</strong></span></p>
            <p><strong>9:45pm</strong> <span>(title) - <strong>(company/speaker)</strong></span></p>
            <p><strong>10:20pm</strong> <span>(title) - <strong>(company/speaker)</strong></span></p>
            <p><strong>11:00pm</strong> <span>(title) - <strong>(company/speaker)</strong></span></p>
            <p><strong>12:00pm</strong> <span>Midnight Cookies! </span></p>
          </div>
	</div>
	<div class="col-sm-6 text-center">
          <h3>Sunday, June 1</h3>
          <h4 class="text-muted">Hackathon <i class="fa fa-trophy"></i></h4>
          <div class="row">
            <p><strong>9:00am</strong> <span>Good morning! Breakfast is served.</span></p>
            <p><strong>10:30am</strong> <span>Code Mentors from <strong>Hack the Future?</strong> around to help</span></p>
            <p><strong>11:15pm</strong> <span>(title) - <strong>(company/speaker)</strong></span></p>
            <p><strong>12:00pm</strong> <span>Lunch!</span></p>
            <p><strong>12:45pm</strong> <span>(title) - <strong>(company/speaker)</strong></span></p>
            <p><strong>2:30pm</strong> <span>Set up demos science fair-style</span></p>
            <p><strong>4:00pm</strong> <span>Awards and closing</span></p>
          </div>
	</div>
      </div>
    </div>
  </div>

  <div id="faq" class="relative-container gray">
    <div class="container">
      <h2>FAQ <i class="fa fa-question-circle"></i></h2>
      <div class="col-sm-6">
	<div class="row">
	  {% for pair in site.data.faq %}
	  <p>
	    <strong>Q:</strong> {{ pair.question }}<br />
	    <strong>A:</strong> {{ pair.answer }}
	  </p>
	  {% endfor %}
	</div>
      </div>
    </div>
  </div>

  <div id="about" class="relative-container white">
    <div class="container">
      <h2>About <i class="fa fa-info-circle"></i></h2>
    </div>
  </div>

  <div id="contact" class="relative-container gray">
    <div class="container">
      <h2>Contact <i class="fa fa-envelope-o"></i></h2>
      {% for person in site.data.contact %}
      <div class="col-sm-3 text-center">
	<h3>{{ person.name }} <a href="mailto:{{ person.email }}"><i class="fa fa-envelope"></i></a></h3>
	<p><a href="http://{{ person.provider }}/{{ person.site }}">@{{ person.site }}</a></p>
	<img class="contact-photo img-circle" src="{{ person.photo }}" />
      </div>
      {% endfor %}
    </div>
  </div>

</div> <!-- / .white -->
