body {
  font-size: 18px;
}

h2, .nav li {
  font-family: 'Exo 2';
}

.navbar-brand {
  background: url("/assets/img/logo_alt_no_year.png");
  background-size: 190px;
  background-position: 4px 13px;
  color: inherit;
  width: 200px;
  background-repeat: no-repeat;
}

.carousel {
  margin-bottom: 70px;
  width: 100%;
}

.carousel-inner {
  padding-top: 70px;
}

.carousel .carousel-inner .item {
  background: rgb(63, 27, 13);
}

.carousel-inner > .item > img {
  height: 570px;
}

.header-background {
  margin-top: -70px;
  background-attachment: fixed;
  position: absolute;
  background-image: url("/assets/img/header-background.jpg");
  background-size: 100%;
  width: 100%;
  height: 570px;
  background-size: 100% 570px;
}

.splash-logo {
  margin-bottom: 30px;
  width: 80%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.lead-div {
  min-height: 160px;
}

.deets {
  text-align: left;
}

.circle-feature {
  text-align: center;
}

.gray {
  background-color: #dedede;
}

.white {
  background-color: white;
}

.dark-gray {
  background-color: #444444;
}

.relative-container {
  position: relative;
  padding: 30px 0;
}

.contact-photo {
  width: 125px;
}

.contact-photo-big {
  width: 175px;
}

.btn-register {
  padding: 18px 30px;
}